footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.square-logo img {
  width: 50%;
  height: 50%;
  margin-top: 0.625rem;
  margin-left: 0.625rem;
  object-fit: scale-down;
}

footer ul li {
  position: relative;
  margin: 0.625rem;
  list-style: none;
}

.divider-elem::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 2px;
  background-color: #ccc;
}