header {
  display: flex;
  justify-content: space-between;
  margin: 1.25rem;
}

.square-logo img {
  width: 50%;
  height: 50%;
  margin-top: 0.625rem;
  margin-left: 0.625rem;
  object-fit: scale-down;
}

ul {
  display: flex;
}

header ul li {
  list-style: none;
}

.divider-elem::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 2px;
  background-color: #ccc;
}