header {
  display: flex;
  justify-content: space-between;
}

.square-logo img {
  width: 50%;
  height: 50%;
  margin-top: 0.625rem;
  margin-left: 0.625rem;
  object-fit: scale-down;
}

ul {
  display: flex;
}