table, th, td {
  border: 2px solid #999;
  border-collapse: collapse;
  width: 90%;
  height: 30px;
  text-align: center;
}

thead {
  background-color: #3f99f5;
}

thead th {
  line-height: 1.2;
}

tbody td {
  line-height: 1.5;
}