<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joo.abysshop.mapper.mybatis.CartMapper">
  <select id="findAllItems" parameterType="java.lang.Long" resultType="java.util.List">
    SELECT *
    FROM carts_table
    WHERE user_id = #{userId}
  </select>

  <select id="getCartId" parameterType="java.lang.Long" resultType="java.lang.Long">
    SELECT cart_id
    FROM carts_table
    WHERE user_id = #{userId}
  </select>
</mapper>